*.iml
.platform_version
.dart_tool/
.packages
.build/
/build/
.idea/
.cider/
.gradle/
.symlinks/
.packages
/.flutter-plugins
/.flutter-plugins-dependencies
.packages
/coverage/
*.qcow2
*.vmdk
.android/
packages
pubspec.lock
.DS_Store
Thumbs.db
.android/
*.apk
*.aab
*.appx
*.xcframework
*.xcarchive
*.ipa
*.xcworkspace
*.xcproject
*/Podfile
*.xcuserdata
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral/
macos/Podfile.lock
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/ephemeral/
windows/CMakeCache.txt
windows/flutter/CMakeFiles/
windows/flutter/GeneratedPlugins.cpp
windows/flutter/generated_plugins.cmake
*.apk
*.app
*.aab
*.ipa
*.xap
*.appx
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.jar
*.aar
*.so
*.dylib
*.dll
*.exe
*.ps1
*.bat
*.cmd
*.sh
*.py
*.c
*.cpp
*.h
*.hpp
*.o
*.d
*.obj
*.lib
*.a
*.pch
*.i
*.ii
*.s
*.spp
*.swp
*.orig
*.tmp
*.temp
*.bak
*.swp
*.old
*.new
*.rej
*.orig
*.log
*.patch
pubspec.lock